<!-- ManaVault Inventory Manager - CS340 Portfolio Project -->

<h1>ManaVault Inventory Manager</h1>
<div class="homepageDescription">
    <p>CS340-W26 Portfolio Project</p>
    <p>Created by Timothy Marshall and Amina Cheng</p>
    <p>This web app manages customers, sets, products, orders, order items, and payments for a local game store.</p>
</div>