{{! CREATE Customer form }}
<h1>Customer</h1>

<h2>Add a Customer</h2>
<form class='cuForm' id='create_customer_form'>
    <label for='create_customer_fname'>First Name</label><br>
    <input type='text' name='create_customer_fname' id='create_customer_fname' required /><br>

    <label for='create_customer_lname'>Last Name</label><br>
    <input type='text' name='create_customer_lname' id='create_customer_lname' required/><br>

    <label for='create_customer_email'>Email</label><br>
    <input type='text' name='create_customer_email'  id='create_customer_email' required/><br>

    <label for='create_customer_phone_number'>Phone Number</label><br>
    <input type='text' name='create_customer_phone_number' id='create_customer_phone_number' /><br>
    
    <h3>Address</h3>
    <label for='create_customer_address_line1'>Street Address</label><br>
    <input type='text' name='create_customer_address_line1' id='create_customer_address_line1' /><br>
    <label for='create_customer_address_line2'>Apt/Suite/Unit #</label><br>
    <input type='text' name='create_customer_address_line2' id='create_customer_address_line2' /><br>
    <label for='create_customer_address_city'>City</label><br>
    <input type='text' name='create_customer_address_city' id='create_customer_address_city' /><br>
    <label for='create_customer_address_state'>State</label><br>
    <input type='text' name='create_customer_address_state' id='create_customer_address_state' /><br>
    <label for='create_customer_address_zipcode'>Zip code</label><br>
    <input type='text' name='create_customer_address_zipcode' id='create_customer_address_zipcode' /><br>
    <input type='submit' />
</form>