{{! CREATE Customer form }}
<h1>Customer</h1>

<h2>Add a Customer</h2>
<form class='cuForm' id='create_customer_form'>
    <label for='create_customer_fname'>First Name: </label>
    <input type='text' name='create_customer_fname' id='create_customer_fname' required />

    <label for='create_customer_lname'>Last Name: </label>
    <input type='text' name='create_customer_lname' id='create_customer_lname' required/>

    <label for='create_customer_email'>Email: </label>
    <input type='text' name='create_customer_email' id='create_customer_email' required/>

    <label for='create_customer_phone_number'>Phone Number: </label>
    <input type='text' name='create_customer_phone_number' id='create_customer_phone_number' />
    
    <h3>Address</h3>
    <label for='create_customer_adddress_line1'>Line1: </label>
    <input type='text' name='create_customer_adddress_line1' id='create_customer_adddress_line1' />
    <label for='create_customer_adddress_line2'>Line2: </label>
    <input type='text' name='create_customer_adddress_line2' id='create_customer_adddress_line2' />
    <label for='create_customer_adddress_city'>City: </label>
    <input type='text' name='create_customer_adddress_city' id='create_customer_adddress_city' />
    <label for='create_customer_adddress_state'>State: </label>
    <input type='text' name='create_customer_adddress_state' id='create_customer_adddress_state' />
    <label for='create_customer_adddress_zipcode'>Zip code: </label>
    <input type='text' name='create_customer_adddress_zipcode' id='create_customer_adddress_zipcode' />
    <input type='submit' />
</form>